@media (max-width : 1200px) {
    .watch_one .section1 button {
        /* border: 5px red solid; */
        width: 100px;
    }

    .watch_one {
        margin: 0 auto;
    }

    .watch_one,
    .header_nav,
    .header_nav.wrapper,
    .section1,
    .section3,
    .section4,
    .section5,
    .section5 .wrapper,
    .section7 .wrapper,
    footer,
    footer .wrapper,
    footer,
    footer .wrapper *,
    footer .three * {
        width: 720px;
        /* border: 1px green solid; */
    }

    .watch_one .slider_images img:nth-child(1) {
        border: 1px red solid;
        margin-left: -650px;
    }

    .section2 {
        background-repeat: no-repeat;
        background-color: black;
    }

    .section2 img {
        margin-bottom: 150px;
    }

    .section2 .wrapper {
        flex-direction: column;
    }

    .section3 .grid {
        grid-template-columns: 1fr 1fr;
        margin: 0;
        width: 720px;
    }

    .section3 .grid .item {
        margin: 50px auto;
        width: 50%;
    }

    .section4,
    .section4 .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section4 .wrapper {
        margin: 0;
    }

    .section5 .grid {
        grid-template-columns: 1fr;
    }

    .section7 .wrapper {
        width: 720px;
        margin-top: 150px;
    }
    footer .one p {
        width: 700px;
        margin: 0 0 10px 10px;
    }


    footer .three img {
        height: 30px;
        width: 30px;
        margin: 10px 20px;
    }

    footer .four .wrapper,
    .watch_one .wrapper {
        width: 720px;
    }

    footer .four {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 700px;
        margin: 0;
    }

    footer .four .df_col {
        width: 100px;
        margin: 50px auto;
    }


}