* {
  margin: 0;
  padding: 0;
  color: white;
  
}

body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

main {
    background-image: url('./Styles/bg-light3.png');
    background-color: #000;
    background-repeat: no-repeat;
}
.m0a {
    margin: 0 auto;
}
main.main_dark {
    background-image: url('./Styles/Layer_dark.png');
}

main.main_light {
    background-image: url('./Styles/Layer _light.png');
    /* background-image: none; */
    background-color: #fff;
    background-image: url(./Styles/img/content_bg_light.png);
    background-repeat: repeat;
}

main .main_dark * {
    color: #fff;
    /* border: 1px red solid; */
}

main.main_light * {
    color: #000;
    /* border: 1px red solid; */
}

main.main_light .btn_Black {
    background-color: #fff;
    /* color: white; */
}

.main_dark.content {
    background-image: url('./Styles/img/content_bg_dark.png');
    color: #fff;
}

.main_light.content {
    background-image: url('./Styles/img/content_bg_light.png');
    background-color: #fff;
    color: #000;
}

.main_light.content .btn_Black {
    color: #000;
}


@font-face {
    font-family: "PTSansBold";
    src: url(./Styles/fonts/PTSansBold.ttf)
}

.border {
    border: 1px red solid;
}

.col-1 {
    width: 60px;
}

.col-2 {
    width: 144px;
}

.col-3 {
    width: 225px;
}

.col-4 {
    width: 312px;
}

.col-5 {
    width: 379px;
}

.col-6 {
    width: 460px;
}

.col-7 {
    width: 540px;
}

.col-8 {
    width: 641px;
}

.col-10 {
    width: 808px;
}

.col-12 {
    width: 940px;
    margin: 0 auto;
}

.ai_center {
    align-items: center;
}

.jc_center {
    justify-content: center;
}

.df {
    display: flex;
}

.df_jcsa {
    display: flex;
    justify-content: space-around;
}

.df_jcsb {
    display: flex;
    justify-content: space-between;
}

.df_col {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.jc_center {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.ta_left * {
    width: 200px;
    text-align: left;
}

.ta_center {
    text-align: center;
}

.loginBtn {
    background-image: url('/src/Barbershop/svg/login.svg');
    background-size: auto;
    background-position: center;
    background-color: #000;
    height: 50px;
    width: 50px;
    color: #fff;
}

/*  */

.nav_mobile {
    width: 100%;
    border: 5px red solid;
    background-color: black;
}



/*  */


.content .btn_Black {
    background-color: #000;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    height: 40px;
    border: none
}

.content {
    background-repeat: repeat;
    display: flex;
}



.content * {
    color: black;
    font-size: 14px;
}

.content {
    background-image: url('./Styles/img/content_bg_dark.png');
}



.content h3 {
    font-size: 30px;
    text-transform: uppercase;
}

main * {
    font-family: "PTSansBold";
}


nav a {
    text-decoration: none;
}

.relative {
    position: relative;
}

.btn_Black * {
    color: #fff;
    text-decoration: none;
}

.btn_Black {
    background-color: #000;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    height: 40px;
    border: none
}