.barber__footer {
    padding: 50px 0;
    display: flex;
    align-items: center;
    background-image: url(./FooterBg.png);
}

.barber__footer * {
    /* color: #fff; */
}

/* .barber__footer .container {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
} */

.barber__footer .container {
    width: 300px;
    margin: 0 auto;
    align-items: center;
    display: flex;
}
.barber__footer .container .btn_Black {
    margin: 5px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container div {
    margin: 0;
}
.barber__footer  {
    width: 100%;
}
.barber__footer .btn_Black {
    background-color: #000;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    height: 40px;
    border: none
}

.barber__footer .btn_nav {
    width: 40px;
}

.barber__footer p {
    padding: 10px;
    text-align: center;
}


.footer_another_dark {
    background-color: #000;
}

.footer_another_light {
    background-color: #fff;
}

.footer_another_light a {
    color: #000;
}

