.index-component {
    padding-bottom: 50px;
    z-index: 1;
}

.index-component .content {
    margin-bottom: 30px;
}

.indexNews {
    margin-left: 60px;
}

.indexGalleryMidLine {
    margin-left: -85px;
    /* margin-right: 70px; */
}

.index-component .content h3 {
    margin: 0
}

.index-component .content input {
    margin: 15px 0;
}


.indexRhomb {
    margin: 30px;
}

.indexRhomb * {
    margin-top: -1px;
    height: 10px;
    width: 10px;
}

.index-logo {
    margin: 0 auto;
    width: 300px;
    height: unset;
    padding-top: 20px;
}

.index-component .content {
    padding: 50px 0;
}

.main_light .btn_Black {
    color: #000;
    background-color: grey;
}

.main_light * {
    color: #fff;
}

.one .container  {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    
}

@media (max-width: 1366px) {

    .one * {
        padding: 0;
        margin: 0;
    }

    .one {
        padding: 20px 0;
    }

    .one .index-logo,
    .one .container,
    .one .indexRhomb {
        padding-bottom: 20px;
        width: 90%;
        margin: 0 auto;
    }

    .index-component .content,
    .indexNews,
    .galleryNews,
    .index-info,
    .news,
    .index-component,
    .index-component div {
        flex-direction: column;
        /* padding: 10px 0; */
        align-items: center;
        width: unset;
        text-align: center;
    }

    .indexGalleryMidLine {
        display: none;
    }

    .btn_Black {
        margin: 10px 0;
        height: 50px;
        text-align: center;
    }

    .index-component input {
        width: 300px;
    }

}