@media (max-width: 1400px) {

    body .porten_component .adapt {
        width: 900px;
        height: unset;
        margin: 0 auto;
        flex-direction: column;
    }

    .porten_component .component.top-line,
    .porten_component .component.second-line {
        display: flex;
        flex-direction: row;
    }

    .porten_component .first-screen,
    .porten_component footer {
        padding: 50px 0;
    }

    .porten_component .new-season .right {
        background-size: 100%;
    }

    .porten_component .new-season .grid {
        grid-template-columns: 1fr;
    }

    .porten_component .new-goods .grid,
    .porten_component .our-brands .grid {
        grid-template-columns: 1fr 1fr;
    }

    .porten_component .new-season .right {
        padding: 450px 0 50px 0;
    }

    .porten_component footer {
        background-size: 400%;
        background-position: center;
    }

    .porten_component footer .df_col p {
        margin: 0;
    }

    body .porten_component footer .df_col {
        justify-content: space-around;
        height: 200px;
    }
}

@media (max-width: 900px) {
    body .porten_component .adapt {
        width: 720px;
    }
    .porten_component .new-goods .grid,
    .porten_component .our-brands .grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 760px) {
    body .porten_component .adapt {
        width: 320px;
    }

    .porten_component .new-goods .grid,
    .porten_component .our-brands .grid {
        grid-template-columns: 1fr;
        /* display: none; */

    }
}
