* {
    margin: 0;
    padding: 0;
}



/* справа */
.gtamap {
    width: 100%;
    overflow: hidden;
}

.gtamap .info {
    position: fixed;
    right: 0;
    width: 300px;
}

.gtamap .homeImg {
    height: 30px;
    width: 30px;
    background-size: contain;
    transition: 1s;
}

.gtamap .home_wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.gtamap .map_wrapper {
    width: 100%;
    margin: 0 auto;
}

.gtamap .home_about {
    width: 400px;
    padding: 15px;
    margin-top: 5px;
    margin-left: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: black;
    color: white;
    transition: 0.3s;
    position: fixed;
    font-size: 30px;
}

.gtamap .filter {
    width: 50px;
    position: fixed;
    font-size: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: black;
    color: white;
    width: 350px;
    right: 0;
    margin-top: 5px;
    margin-right: 15px;
    align-items: center;
    padding-left: 20px;
}

.gtamap .filter p {
    padding: 25px 0;
}

.gtamap .filter input {
    margin-left: 35px;
    font-size: 25px;
    transform: scale(1.9)
}

..gtamap filter label {
    width: 20px;
}

.gtamap .filter div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gtamap .filter .filter-gm {
    display: flex;
    flex-direction: column;
}

.gtamap .filter-gm div {
    width: 100%;
}

.gtamap .filter .filter-price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gtamap .filter .filter-price * {
    margin: 20px 0;
}

.gtamap .filterPriceMin,
.gtamap .filterPriceMax {
    color: white;
}

.gtamap .home_about p {
    line-height: 25px;
}

.add_home {
    position: fixed;
    bottom: 50px;

    width: 400px;
    padding: 15px;
    margin-top: 5px;
    margin-left: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: black;
    color: white;
    transition: 0.3s;
    border: none;
}

.add_home_btn_wrapper {
    display: flex;
    height: 100px;
    margin: 0 auto;
    justify-content: space-between;
}

.add_home_btn,
.add_home_cancel {
    background-color: black;
    border: none;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    font-size: 20px;
}

.add_home_btn:active,
.add_home_cancel:active {
    border: 1px red solid;
    opacity: 0.7;
}

.add_home_cancel {
    padding-left: 10px;
    border-left: 1px red solid;
    display: none;
}

.add_home_info input {
    display: flex;
    width: 80%;
    margin: 10px;
    padding: 10px;

    color: black;
}

.add_home_info {
    padding-bottom: 10px;
    display: none;
}