.watchApp_light footer,
.watchApp_dark footer {
    background: none;

    background: #eaeaea;
    margin: 0 auto;
    color: #ababab;
    /* color: #ababab; */
}

/* .watchApp .wrapper * {
    color: #ababab;
    background: none;
} */

.watchApp footer .wrapper {
    width: 1440px;
    margin: 0 auto;
}

.watchApp .wrapper .one p {
    width: 100%;
    text-align: left;
}

.watchApp footer {
    background: #eaeaea;
}

.watchApp footer p {
    color: #ababab;

}

.watchApp footer .three {
    margin-bottom: 50px;
}

.watchApp footer hr {
    margin: 50px 0 50px 0;
}

.watchApp footer .four .df_col {
    margin: 0;
}

.watchApp footer .four .df_col p,
.watchApp footer .four .df_col h4 {
    margin: 5px 0;
    color: #ababab;
}

.watchApp footer a {
    color: blue;
}
