* {
    padding: 0;
    margin: 0;
}

.roulette_dark {
    background-color: #000;
    height: unset;
}

.roulette_light {
    background-color: green;
}
.roulette_main {
    padding: 50px 0;
    width: 1900px;
    
    display: flex;
    margin-left: 0;
    align-items: flex-start;
}

.roulette_main * {
    font-family: "PTSansBold";
    height: unset;
}

.bets_row {
    background-color: #000;
}

/* new */
.bets_old {
    display: none;
}

.roulette_item {
    width: 20%;
}
.zeros {
    grid-area: 'zeros';
    width: 600px;
}
.tables {
    margin: 0 auto;
}
.zero {
    background-color: green;
    color: black;
    width: 50%;
}
.bet_number {
    height: 50px;
    width: 50px;
}

.bets_numbers_both {
    grid-area: 'bets_numbers_both';
    display: flex;
    height: unset;
    width: 100%;
}

.bets_numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.bets_rows {
    grid-area: 'bets_row';
}

@media (max-width: 1280px) {
    .roulette_main {
        width: 700px;
    }
}

.roll {
    background-color: black;
    height: 50px;
}

.balance {
    line-height: 50px;
    text-align: center;
    height: unset;
}

.arrow {
    height: 30px;
    width: 30px;
    margin: 0 auto;
    height: unset;
    padding-top: 20px;
}
.roulette {
    margin: 5px auto;
    height: 300px;
    width: 300px;
    transition: 1s;
    transform: rotate(360deg);
    padding: 20px 0;
}

.bets_numbers .red,
.bet_color.red {
    background-color: red;
    color: black;
    border: none;
}

/* ряды */
.bets_rows {
    width: 10%;
    height: 150px;
    padding-top: 30px;
}

.bets_row {
    /* padding: 0 15px; */
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
}

.bets_thirds button,
.bets_another button,
.bets_sizes button {
    text-align: center;
    background-color: #000;
    color: #fff;
}

/* другие */

* {
    color: white;
}

.black {
    background-color: #000;
    color: #fff
}

button:active {
    border: 1px white solid;
}

.bets_display,
.bets_sizes,
.bets .bets_thirds,
.bets_types {
    margin-top: 20px;
}

.bets_display button,
.bets_sizes button,
.bets .bets_thirds button,
.bets_display p  {
    height: 30px;
}


.roulette_main table {
    border-collapse: collapse
}

{
    border: 1px grey solid;
    background-color: black;
    width: 100%;
}
.bets_display p,
.deleteBet  {
    border: none;
    border: 1px grey solid;
    /* padding: 5px; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 50px;
}
.deleteBet:active {
    border: 3px white solid;
}

.bets_display tr,
.bets_display p {
    height: 30px;
}

.bets_rows button,
.bets_sizes button,
.bets_another button,
.bets_thirds button,
.bets_display p  {
    width: 100%;
    height: 35px;
}

.roulette_main table {
    border-collapse: collapse;
    width: 100%;
}

.balance,
.roll {
    border: 2px white solid;
    border-radius: 10px;
}

.bets,
.bets_display,
.bets_sizes {
    width: 100%;
}

@media (max-width: 1800px) {
    .roulette_main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
        width: 100%;
    }

    .roulette {
        margin-bottom: 25px;
    }
}
